<div>
<br>
<form method="get">
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient's username" name="format" aria-label="Recipient's username" 
  aria-describedby="button-addon2">
  <div class="input-group-append">
    <input class="btn btn-primary" type="submit" value="Filter by format">
  </div>
</div>
</form>
<h5> All of your books </h5><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Author and book</th>
      <th scope="col">Mark</th>
      <th scope="col">Format</th>
    </tr>
  </thead>
  <tbody>
  <% @sorted_list.each do |book|%>
    <tr>
      <td><%=book.date %></td>
      <td><%=book.name + '  "' + book.book + '"' %></td>
      <td><%=book.mark %></td>
      <td><%=book.format %></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>